OPEN_ROUTER_API_KEY=
BACKEND_URL=https://backend-eosin-alpha-29.vercel.app
VITE_API_URL=https://backend-eosin-alpha-29.vercel.app
FRONTEND_URL=https://frontend-3jr6cblmp-raj-7a2b.vercel.app
PORT=3001
OPENROUTER_REFERER=https://frontend-3jr6cblmp-raj-7a2b.vercel.app
OPENROUTER_TITLE=Doc Chat
