OPEN_ROUTER_API_KEY=
BACKEND_URL=http://localhost:3001
VITE_API_URL=http://localhost:3001
FRONTEND_URL=http://localhost:5173
PORT=3001
OPENROUTER_REFERER=http://localhost:5173
OPENROUTER_TITLE=Doc Chat
