PORT=3001
OPEN_ROUTER_API_KEY=
BACKEND_URL=https://backend-eosin-alpha-29.vercel.app
FRONTEND_URL=https://frontend-pink-theta-v6v2fhe4eo.vercel.app
OPENROUTER_REFERER=https://frontend-pink-theta-v6v2fhe4eo.vercel.app
OPENROUTER_TITLE=Doc Chat
